*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-container{
    display: flex;
    align-items: center;
    background-color: aquamarine;
    width: 5rem;
    padding: 0.3rem;
    border-radius:20rem;
    border: 0.1em solid ;
}
.toggle{
    
    height: 1.8rem;
    width: 44%;background-color:rgb(75, 68, 68);
    border: 0.1rem solid #fff ;
    border-radius: 30rem;
    cursor: pointer;
}
h2{
    text-align: center;
    color: rgb(242, 155, 155);
}